/* $Id$ */

body {
  font-family: Arial;
  font-size: 12pt;
  color: #666666;
  line-height: 18px;
  background: #FFFFFF url(../img/body_bg.jpg) repeat-x left top;
}

/* HEADER */
#header {
  background: transparent url(../img/header_bg.jpg) no-repeat left top;
  width: 1280px;
  height: 140px;
  margin: 0px auto;
}

/* PAGE */
#page {
  width: 960px;
  margin: 0px auto;
}

/* FOOTER */