/* $Id$ */

body {
  font-family: Arial;
  font-size: 12px;
  color: #666666;
  line-height: 18px;
  background: #FFFFFF url(../img/body_bg.jpg) repeat-x left top;
}

h1, h2 {
  font-family: Georgia;
}

h1 {
  font-size: 26px;
  color: #2B6C74;
}

h2 {
  font-size: 20px;
  color: #358791;
}

h3 {
  font-size: 17px;
  color: #666666;
}

/* HEADER */
#header {
  background: transparent url(../img/header_bg.jpg) no-repeat left top;
  width: 1280px;
  height: 140px;
  margin: 0px auto;
}

/* PAGE */
#page {
  width: 960px;
  margin: 0px auto;
}

#main a {
  color: #FF6600;
  text-decoration: none;
}

.sidebar {
  width: 220px;
}

.sidebar a {
  color: #2B6D75;
}

/* LEFT */
#sidebar-left {
  float: left;
}

/* RIGTH */

/* FOOTER */